@using Lib.Web.Models
@model Lib.Web.Models.Book

@{
    ViewBag.Title = "Details";
}

<script>

</script>

<div class="panel">
    <h4>
        @Html.DisplayFor(model => model.Name)
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Annotation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annotation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PagesNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PagesNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TranslatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranslatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleasedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleasedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Series)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Series.Name)
        </dd>

    </dl>
</div>
<div>
    Download 
    @foreach (var ff in ViewBag.ExistingfileFormats)
    {
        var format = ((FileFormat) ff).Name;


        @Html.ActionLink(format, "DownloadFile", new { id = Model.ISBN+ '.' + format },new {style ="margin-right: 10px;"})
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ISBN }, new { @class="btn btn-primary"})
    @Html.ActionLink("Back to List", "Index", null, new { @class="btn btn-default fa fa-plus"})
</div>

<script>
    $(function () {
        $("#DownloadFile").click(function () {
                $.ajax(
                {
                    url: '@Url.Action("DownloadFile", "Books")',
                    contentType: 'application/json; charset=utf-8',
                    datatype: 'json',
                    data: {
                        id: $("#DownloadFile").attr("id")
            },
                type: "GET",
                success: function () {
                    alert("success");
                }
            });

        });
    });
</script>
