@using Lib.Web.Models
@model Book

@{
    ViewBag.Title = "Details";
}
<div>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home","Index")</li>
        <li class="active">@Model.Name Details</li>
    </ol>
</div>

<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.DisplayFor(model => model.Name)
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#home" data-toggle="tab" aria-expanded="true">Details</a>
                </li>
                <li class="">
                    <a href="#profile" data-toggle="tab" aria-expanded="false">About author</a>
                </li>
                <li class="">
                    <a href="#messages" data-toggle="tab" aria-expanded="false">Comments</a>
                </li>
                <li class="">
                    <a href="#settings" data-toggle="tab" aria-expanded="false">Download</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade active in" id="home">
                    <h4>Details</h4>

                    <dl class="dl-horizontal">
                        <dt class="prop-title">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt class="prop-title">
                            @Html.DisplayNameFor(model => model.Authors)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Authors)
                        </dd>

                        <dt class="prop-title">
                            @Html.DisplayNameFor(model => model.Annotation)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Annotation)
                        </dd>

                        <dt class="prop-title">
                            @Html.DisplayNameFor(model => model.Rating)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Rating)
                        </dd>

                        <dt class="prop-title">
                            @Html.DisplayNameFor(model => model.PagesNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PagesNumber)
                        </dd>

                        <dt class="prop-title">
                            @Html.DisplayNameFor(model => model.PublishedOn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PublishedOn)
                        </dd>

                        <dt class="prop-title">
                            @Html.DisplayNameFor(model => model.TranslatedOn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TranslatedOn)
                        </dd>

                        <dt class="prop-title">
                            @Html.DisplayNameFor(model => model.ReleasedOn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ReleasedOn)
                        </dd>

                        <dt class="prop-title">
                            @Html.DisplayNameFor(model => model.Country)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Country.Name)
                        </dd>

                        <dt class="prop-title">
                            @Html.DisplayNameFor(model => model.Language)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Language.Name)
                        </dd>

                        <dt class="prop-title">
                            @Html.DisplayNameFor(model => model.Series)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Series.Name)
                        </dd>

                    </dl>

                </div>
                <div class="tab-pane fade" id="profile">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="tab-pane fade" id="messages">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="tab-pane fade" id="settings">
                    <h4>Choose Format</h4>
                    <p>
                        @foreach (var ff in ViewBag.ExistingfileFormats)
                        {
                            var format = ((FileFormat)ff).Name;


                            @Html.ActionLink(format, "DownloadFile", new { id = Model.ISBN + '.' + format }, new { style = "margin-right: 10px;", @class = "btn btn-primary" })
}
                    </p>
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ISBN }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default fa fa-plus" })
</div>
<script>
    $(function () {
        $("#DownloadFile").click(function () {
            $.ajax(
            {
                url: '@Url.Action("DownloadFile", "Books")',
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                data: {
                    id: $("#DownloadFile").attr("id")
                },
                type: "GET",
                success: function () {
                    alert("success");
                }
            });

        });
    });
</script>
